$bg-default: linear-gradient(to rigt, #0f2027, #203a43, #2c5364);
$primary-color: #fff;
$tertiary:#000;
$border-radius:12px;
$base-margin:0;
$base-padding:25px;
$base-width:400px;
$font-size:45px;
$font:'Lucida Sans',
sans-serif;
$box-shadow: 0 5px 30px -5px rgba($tertiary, 0.6);